.button-group button {
    border-radius: 10px;
    background-color: none;
    color: black;
    width: 36px;
    height: 36px;
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    margin: 10px 2px;
}

.button__dec,
.button__inc {
    background-color: #ffe44d;
    cursor: pointer;
}

.button__dec:hover,
.button__inc:hover {
    background-color: #FFF09D;
}

.image-cart {
    height: 120px;
}

.icon-cart {
    font-size: 1.5rem;
    cursor: pointer;
}

.icon-cart:hover {
    color: orangered;
}

@media (max-width: 992px) {
    .price {
        display: none;
    }

    .button-group {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
    }
}

@media (max-width: 768px) {
    td {
        display: block;
    }
}

@media (max-width: 576px) {
    .image-cart {
        height: 100px;
    }
}