.promo {
    background-color: #ffe44d;
    height: 400px;
    padding: 10px;
    padding-left: 150px;
    position: relative;
}

.promo h1,
.promo p {
    line-height: 120%;
}

.promo-button {
    border-radius: 10px;
    background-color: white;
    width: 100px;
    border: none;
    padding: 10px;
    font-size: 0.9rem;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3);
    transition: all 0.5s;
    margin-top: 10px;
}

.promo-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.promo-button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    right: -15px;
    transition: 0.5s;
    top: 0;
}

.promo-button:hover span {
    padding-right: 15px;
}

.promo-button:hover span:after {
    opacity: 1;
    right: 0;
}
.promo-feed {
    display: flex;
    justify-content: center;
}

.promo-text {
    position: absolute;
    top: 400px;
    background-color: #ff8f27;
    background-image: url("../../image/promo-dog.png"), url("../../image/pngegg.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: 70%;
    border-radius: 10px;
    width: 800px;
    height: 300px;
    border: 15px solid transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.promo-text h2,
.promo-text p {
    /* margin: 0; */
    color: white;
    padding-left: 100px;

}




