.card-lite {
    background-color: #fff;
    display: grid;
    gap: 12px;
    border: 1px solid #ffe44d;
    padding: 12px;
    border-radius: 8px;
    grid-template-rows: 120px 35px 100px 39px;
    align-content: center;
}

.card-lite h4 {
    margin: 0;
}

.card-lite p {
    margin: 0;
}

.card-lite img {
    height: 100%;
    justify-self: center;
}

.card-lite button {
    border-radius: 10px;
    background-color: #ffe44d;
    width: 100px;
    height: 36px;
    border: none;
    /* padding: 10px; */
    font-size: 0.9rem;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3);
    text-align: center;
}