header {
    background-color: #ffe44d;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    padding: 10px;
}

.logo img {
    height: 50px;
}

.logo__text {
    color: #000000;
    font-weight: 900;
    font-size: 1.5rem;
}

.header__menu,
.header__menu span {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 5px;
}

.header__menu span {
    cursor: pointer;
}

.header__menu a:hover,
.header__menu span:hover {
    color: orangered;
}

footer {
    display: flex;
    justify-content: space-around;
    background-color: #ffe44d;
    padding-top: 10px;
}

.footer__logo {
    display: grid;
    align-content: space-between;
}

.footer__copy {
    padding-left: 10px;
    padding-bottom: 10px;
    font-size: 0.8rem;
}

.footer__nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 60px;
    padding-inline-start: 0;
    font-size: 1.1rem;
}

.footer__nav a:hover {
    color: orangered;
}

.footer__contacts {
    display: grid;
    gap: 10px;
}

.footer__contacts p,
.footer__contacts h3 {
    margin: 0;
}

.footer__contacts a {
    font-size: 2.0rem;
    opacity: 0.5;
    cursor: pointer;
    padding-right: 10px;
}

.footer__contacts a:hover {
    color: orangered;
}

.header__badge {
    position: absolute;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    background-color: white;
    padding: 0 3px;
    top: 35px;
    right: 65px;
    min-width: 10px;
    text-align: center;
}

@media (max-width: 992px) {
    .footer__nav {
        font-size: 0.9rem;
    }
}

@media (max-width: 768px) {

    .header__menu,
    .header__menu span {
        font-size: 1rem;
    }

    .header__badge {
        top: 35px;
        right: 50px;
    }

    .footer__nav {
        gap: 5px 10px;
    }
}

@media (max-width: 576px) {
    .footer__logo {
        display: none;
    }

    .footer__nav {
        display: none;
    }

    .footer__contacts {
        justify-items: center;
    }

    .logo__text {
        display: none;
    }
}