 .home {
    display: grid;
    justify-content: center;
    min-width: fit-content;
 }

 .home-carousel {
    display: flex;
    align-items: center;
    height: 400px;
    width: 920px;
 }

 .rec-swipable {
    align-items: center;
 }

 .rec .card-lite {
    border: none;
    grid-template-columns: 200px;
    height: 300px;
    margin: 10px;
    justify-content: center;
 }

 .rec .rec-arrow {
    box-shadow: rgb(255, 69, 0) 0px 0px 2px 0px;
 }

 .rec .rec-arrow:hover:enabled,
 .rec .rec-arrow:focus:enabled {
    background-color: orangered;
 }

 .rec .rec-dot,
 .rec .rec-pagination {
    display: none;
 }

 .container {
    padding: 30px;
 }

 .container-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
 }

 .info {
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .info-link {
    display: flex;
    justify-content: center;
    cursor: pointer;
    text-shadow: 0 0 2px yellow;
    user-select: none;
    margin-bottom: 20px;
 }

 .info-link:hover {
    text-shadow: 0 0 7px yellow;
 }

 @media (max-width: 1200px) {
    .container-card {
       grid-template-columns: repeat(2, 1fr)
    }
 }

 @media (max-width: 992px) {
    .home-carousel {
       width: 750px;
    }

    .container-card {
       grid-template-columns: 1fr;
    }
 }

 @media (max-width: 768px) {
    .home-carousel {
       width: 550px;
    }

    .container {
       padding: 10px;
    }

    .container-card .card-lite {
       grid-template-rows: 90px 20px auto 36px;
       font-size: 0.9rem;
    }
 }

 @media (max-width: 576px) {
    .home-carousel {
       width: 350px;
       max-width: 100%;
    }

    .container-card .card-lite {
       grid-template-rows: 70px 10px auto 36px;
       font-size: 0.7rem;
    }
 }