 .home-carousel {
    display: flex;
    align-items: center;
    height: 400px;
    /* background-color: aquamarine; */
 }

/* .rec-slider-container {
   background-color: blueviolet;
 }

.rec-slider {
   background-color: blue;
} */

.rec-swipable {
   /* background-color: brown; */
   align-items: center;
}

/* .rec-carousel-item {
   background-color: darkgoldenrod;
}

.rec-item-wrapper {
   background-color: rgb(11, 158, 184);
} */

.rec .card-lite {
   border: none;
   grid-template-columns: 200px;
   height: 300px;
   margin: 10px;
   justify-content: center;
}

.rec .rec-arrow-right {
   margin-right: 10px;
}

.rec .rec-arrow-left {
   margin-left: 10px;
}

.rec .rec-arrow {
   box-shadow: rgb(255, 69, 0) 0px 0px 2px 0px;
}

.rec .rec-arrow:hover:enabled {
   background-color: orangered;
}

.rec .rec-dot {
   visibility: hidden;
}

/* .rec .rec-dot:hover {
   box-shadow: rgb(255, 69, 0, 0.5) 0px 0px 1px 3px;
}

 .rec .rec-dot_active {
    background-color: rgba(255, 69, 0, 0.5);
    box-shadow: rgb(255, 69, 0) 0px 0px 1px 3px;

 }

 .rec .rec-dot_active:focus {
   box-shadow: rgb(255, 69, 0) 0px 0px 1px 3px;
} */