.banner {
    background-color: #ffe44d;
    min-height: 300px;
    max-height: 400px;
    padding: 10px;
    padding-left: 150px;
}

.banner h1,
.banner p {
    line-height: 120%;
}

.banner-button {
    border-radius: 10px;
    background-color: white;
    width: 100px;
    border: none;
    padding: 10px;
    font-size: 0.9rem;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3);
    transition: all 0.5s;
    margin-top: 10px;
}

.banner-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.banner-button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    right: -15px;
    transition: 0.5s;
    top: 0;
    line-height: 100%;
}

.banner-button:hover span {
    padding-right: 15px;
}

.banner-button:hover span:after {
    opacity: 1;
    right: 0;
}

.promo {
    display: flex;
    justify-content: center;
    margin-top: -30px;
    margin-bottom: 20px;
}

.promo-text {
    background-color: #ff8f27;
    background-image: url("../../image/promo-dog.png"), url("../../image/promo-gift.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
    border-radius: 10px;
    height: 300px;
    width: 920px;
}

.promo-text h2,
.promo-text p {
    color: white;
    padding-left: 50px;
}

.promo-text h2 {
    padding-top: 50px;
}

.adblock {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: stretch;
    color: white;
}

.adblock h2,
.adblock p {
    padding-left: 20px;
}

.adblock-clothes {
    background-color: #d7a216;
    border-radius: 10px;
    background-image: url("../../image/dog-clothes.png"), url("../../image/circle-clothes.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: 60%;
    width: 430px;
    height: 200px;
    padding: 10px;
    justify-self: flex-start;
}

.adblock-shampoo {
    background-color: #25b5be;
    border-radius: 10px;
    background-image: url("../../image/shampoo-dogs.png"), url("../../image/circle-shapmoo.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: 60%;
    width: 430px;
    height: 200px;
    padding: 10px;
    justify-self: flex-end;
}

.adblock-toys {
    background-color: #9cce55;
    border-radius: 10px;
    background-image: url("../../image/dog-toys.png"), url("../../image/circle-toys.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: 60%;
    width: 430px;
    height: 200px;
    padding: 10px;
    margin-top: 10px;
    justify-self: flex-start;
}

.adblock-parfum {
    background-color: #db6825;
    border-radius: 10px;
    background-image: url("../../image/dog-parfum.png"), url("../../image/circle-parfum.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: 60%;
    width: 430px;
    height: 200px;
    padding: 10px;
    margin-top: 10px;
    justify-self: flex-end;
}

.news {
    display: flex;
    justify-content: space-between;
}

.card-news {
    width: 180px;
    height: 200px;
    padding: 0 0 60px 0;
}

.card-news img {
    width: 100%;
    border-radius: 10px;
}

.news p {
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
}

@media (max-width: 992px) {
    .promo-text {
        width: 750px;
    }

    .adblock-size {
        width: 352px;
    }
}

@media (max-width: 768px) {
    .promo-text {
        width: 550px;
        background-size: 100%;
    }

    .news {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: stretch;
    }

    .card-news {
        width: 220px;
        justify-self: center;
    }

    .adblock-size {
        width: 252px;
    }
}

@media (max-width: 576px) {
    .banner {
        padding-left: 30px;
        padding-top: 30px;
    }

    .banner h1,
    .banner p {
        font-size: 1.2rem;
    }

    .promo-text {
        width: 340px;
        max-width: 100%;
        height: 200px;
    }

    .promo-text h2,
    .promo-text p {
        padding-left: 10px;
        font-size: 1.2rem;
    }

    .promo-text h2 {
        padding-top: 10px;
    }

    .news {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .card-news {
        display: grid;
        grid-template-rows: 1fr auto;
        margin-bottom: 30px;
        width: 350px;
        max-width: 100%;
        justify-self: stretch;
    }

    .vet-pharmacy {
        margin-bottom: 60px;
    }

    .adblock-size {
        width: 152px;
        height: 160px;
        font-size: 0.8rem;
    }
}